<h1>Labels</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
      <th colspan="8">Label</th>
    </tr>
    <tr>
      <th>Tracking Number</th>
      <th>Carrier</th>
      <th>Length</th>
      <th>Width</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Vol.Weight</th>
      <th>Tot.Weight</th>
      <th>Fedex Weight</th>
      <th>Error</th>
    </tr>
  </thead>

  <tbody>
    <% if @labels.length > 0 %>
      <% @labels.each do |label| %>
        <tr>
          <td><%= label["tracking_number"] %></td>
          <td><%= label["carrier"] %></td>

          <% dist_um = label.parcel.distance_unit %>
          <% mass_um = label.parcel.mass_unit %>

          <td align="right"><%= label.parcel.length %> <%= dist_um %></td>
          <td align="right"><%= label.parcel.width %> <%= dist_um %></td>
          <td align="right"><%= label.parcel.height %> <%= dist_um %></td>
          <td align="right"><%= label.parcel.weight_rounded %> <%= mass_um %></td>
          <td align="right"><%= label.parcel.volumetric_weight_rounded %> <%= mass_um %></td>
          <td align="right"><%= label.parcel.total_weight %> <%= mass_um %></td>

          <% if label.parcel["fedex"]["error"] == "" %>
            <td align="right"><%= label.parcel["fedex"]["weight"] %> <%= mass_um %>
          <% else %>
            <td>
          <% end %>

          </td>
          <td><%= label.parcel["fedex"]["error"] %></td>
        </tr>
      <% end %>
    <% else %>
      <td>
        <td colspan="6">No records found!</td>
      </td>
    <% end %>
  </tbody>
</table>

<%= link_to "Reload", labels_path(:reload => true) %>
