<h2>Labels Input</h2>

<table class="table table-hover table-sm">
  <thead class="table-active">
    <tr>
      <th>Tracking Number</th>
      <th>Carrier</th>
      <th class="right">Length</th>
      <th class="right">Width</th>
      <th class="right">Height</th>
      <th class="right">Weight</th>
      <th class="right">Fedex Weight</th>
      <th class="center">Message</th>
    </tr>
  </thead>

  <tbody>
    <% if @labels %>
      <% @labels.each do |label| %>
        <tr>
          <td><%= label["tracking_number"] %></td>
          <td><%= label["carrier"] %></td>

          <% dist_um = label.parcel.distance_unit %>
          <% mass_um = label.parcel.mass_unit %>

          <td class="right"><%= label.parcel.length %> <%= dist_um %></td>
          <td class="right"><%= label.parcel.width %> <%= dist_um %></td>
          <td class="right"><%= label.parcel.height %> <%= dist_um %></td>
          <td class="right"><%= label.parcel.weight %> <%= mass_um %></td>

          <% if label.parcel["fedex"]["error"] == "" %>
            <td class="right"><%= label.parcel["fedex"]["weight"] %> <%= mass_um %></td>
            <td></td>
          <% else %>
            <td></td>
            <td><%= label.parcel["fedex"]["error"] %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No records found!</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Report", labels_report_path, class: "btn btn-primary btn-sm" %>
<%= link_to "Reload all", labels_input_path(:reload => true), class: "btn btn-info btn-sm" %>
<%= link_to "Reload only with error", labels_input_path(:reload => true, :only_errors => true), class: "btn btn-info btn-sm" %>
