<h2>Labels Report</h2>

<table class="table table-hover table-sm">
  <thead class="table-active">
    <tr>
      <th>Tracking Number</th>
      <th>Carrier</th>
      <th class="right">Tot.Weight</th>
      <th class="right">Fedex Weight</th>
      <th class="right">Overweight</th>
      <th class="center">Message</th>
    </tr>
  </thead>

  <tbody>
    <% if @labels %>
      <% @labels.each do |label| %>

        <% if label.parcel.overweight > 0 %>
        <% cls = "table-light" %>
        <% else %>
        <% cls = "table-success" %>
        <% end %>

        <tr>
          <td class="<%= cls %>"><%= label["tracking_number"] %></td>
          <td class="<%= cls %>"><%= label["carrier"] %></td>

          <% dist_um = label.parcel.distance_unit %>
          <% mass_um = label.parcel.mass_unit %>

          <td class="<%= cls %> right"><%= label.parcel.total_weight %> <%= mass_um %></td>

          <% if label.parcel["fedex"]["error"] == "" %>
            <td class="<%= cls %> right"><%= label.parcel["fedex"]["weight"] %> <%= mass_um %></td>

            <% if label.parcel.overweight > 0 %>
              <td class="<%= cls %> right"><%= label.parcel.overweight_rounded %> <%= mass_um %></td>
            <% else %>
              <td colspan="2"></td>
            <% end %>

            <td class="<% if label.parcel.overweight > 0 %>table-warning center<% else %>table-light<% end %>">
              <% if label.parcel.overweight > 0 %>Overweight!<% end %>
            </td>
          <% else %>
            <td colspan="3"></td>
            <td><%= label.parcel["fedex"]["error"] %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No records found!</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Detail", labels_detail_path(:reload => false), class: "btn btn-info btn-sm" %>
